#container{
    margin: 10px 250px;
    border: 7px solid pink;
    padding: 15px;
    background: rgb(51, 246, 246);
    border-radius: 7px
}
h2{
    text-align: center;
    color: rgb(61, 44, 242);
}
input{
    padding: 15px;
    border-radius: 10px;
    font-size: 25px;
}
button{
    padding: 15px;
    background: red;
    color: #fff;
    border-radius: 15px;
    margin-left: 5px;
    font-size: 25px;
}
button:hover{
    background-color: blue;
}
input:hover{
    background-color: red;
    color: white;
}
#item{
    font-size: 25px;
}